.initialP {
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.products {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2rem 60px 60px;
}

.products > article {
  border-radius: 20px;
  padding: 1.5rem;
  background-color: #dda15e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products > article > h3 {
  margin-bottom: 20px;
}

.products > article > div {
  display: flex;
  margin: 20px;
  font-weight: 500;
  align-items:flex-end;
}

.products > article > div > p {
  margin-right: 60px;
}

.products > article > div > form {
    display: flex;
    align-items: flex-end;
}

.products > article > div > form > label {
  margin-right: 5px;
  text-transform: uppercase;
}

.products > article > div > form > input {
  color: #bc6c25;
  font-weight: 600;
  width: 40px;
  padding: 4px;
  border: none;
  border-radius: 3px;
}

.products > article > button {
  background-color: #283618;
  color: #fefae0;
  padding: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.products > article > button:hover {
  background-color: #606c38;
}
