/* General styles */

html {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fefae0;
  color: #283618;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
